<div class="container">
    <mat-card class="register-card">
      <div class="image" >
        <img src="../../../assets/chat-app-logo-png.webp"  alt="img" />
      </div>
      <mat-card-header class="center-content">
        <mat-card-title>Welcome Back</mat-card-title>
      </mat-card-header>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
        <mat-card-content>
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email" />
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput type="password"  placeholder="Password" formControlName="password" />
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button class="full-width btn" mat-raised-button type="submit">
            Continue
          </button>
        </mat-card-actions>
      </form>
      <p>Don't Have an Account? <a routerLink="/register">Signup</a></p>
      <p>OR</p>
   
      <div id="buttonDiv">
      
      </div>
    
    </mat-card>
  </div>